doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/CSS/mainStyle.css")
		title BuscaCalang
	body(id = "CORPO_ID")
		header 
			h1 CADE o Calango
		main(id = "MAIN_ID")
			form(id="formBusca_ID", action="/busca", method="post")
				input(id="DADO_ID" ,type="text", name="DADO")
				select(name="SELETOR")
					option(value="NOME") NOME 
					option(value="IDADE") IDADE 
					option(value="ENDERECO") ENDERECO 
					option(value="CPF") CPF 
					option(value="RG") RG 
				input(id="submit_Bsca_ID" ,type="submit", value="BUSCAR")
			if dados
				table
					if dados != ""
						tr
							th ID
							th NOME
							th IDADE
							th ENDERECO
							th CPF
							th RG
						each elem,i in dados
							tr 
								th #{elem.id}
								th #{elem.nome}
								th #{elem.idade}
								th #{elem.endereco}
								th #{elem.cpf}
								th #{elem.rg}
					else 
						p Cadastro não encontrado
			else 
		footer
