doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title BuscaCalang
	body(id = "CORPO_ID")
		header 
			h1 ESPAÇO PARA BUSCA
		main(id = "MAIN_ID")
			form(action="/busca", method="post")
				input(id="DADO_ID" ,type="text", name="DADO")
				select(name="SELETOR")
					option(value="NOME") NOME 
					option(value="IDADE") IDADE 
					option(value="ENDERECO") ENDERECO 
					option(value="CPF") CPF 
					option(value="RG") RG 
				input(type="submit", value="BUSCAR")
			table
				tr
					th ID
					th NOME
					th IDADE
					th ENDERECO
					th CPF
					th RG
				tr 
					th #{id}
					th #{nome}
					th #{idade}
					th #{endereco}
					th #{cpf}
					th #{rg}
		footer
