doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")


		title CalangCadastrado
	body
		header Calango Cadastrado
		main
			p  Seu nome é: #{NOME}
			p  Sua data é: #{DATA}
			p  Seu endereço é: #{ENDERECO}
			p  Seu CPF é: #{CPF}
			p  Seu RG é: #{RG}