doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/CSS/mainStyle.css")
		title Cadastrar Calang
	body
		header 
			h1 NOVO Calango
		main
			form(action="/cadastro" method="POST")
				div
					label(for="NOME") NOME: 
					input(id="NOME_ID" type="text" name="NOME" value=nome)
				div
					label(for="IDADE") IDADE: 
					input(id="IDADE_ID" type="text" name="IDADE" value=idade)
				div
					label(for="ENDERECO") ENDERECO: 
					input(id="ENDERECO_ID" type="text" name="ENDERECO" value=endereco)
				div
					label(for="CPF") CPF: 
					input(id="CPF_ID" type="text" name="CPF" value=cpf)
				div
					label(for="RG") RG: 
					input(id="RG_ID" type="text" name="RG" value=rg)
				input(type="submit", value="Cadastrar")
				
		footer