doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/CSS/mainStyle.css")

		title CalangCadastrado
	body
		header 
			a(class="goBack_CLASS" href="/") &#128281
			h1 Calango CADASTRADO
		main
			p  Seu nome é: #{nome}
			p  Sua data é: #{idade}
			p  Seu endereço é: #{endereco}
			p  Seu CPF é: #{cpf}
			p  Seu RG é: #{rg}