doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/CSS/mainStyle.css")
		title Excluir
	body
		header 
			a(class="goBack_CLASS" href="/") &#128281
			h1 INSTALA VISTA Calango (você quem escolheu)
		main
			if dados
				if dados != ""
					p TEM CERTEZA QUE DESEJA DELETAR O CALANGO ABAIXO?
					each elem,i in dados
						form(action="/confirmar_exclusao", method="post")
							input(type="text", name="CPF", value= elem.cpf )
							input(class="submitBtn_CLASS" ,type="submit", value="DELETAR")
						table
							tr
								th ID
								th NOME
								th IDADE
								th ENDERECO
								th CPF
								th RG
							tr 
								th #{elem.id}
								th #{elem.nome}
								th #{elem.idade}
								th #{elem.endereco}
								th #{elem.cpf}
								th #{elem.rg}
				else 
					p WHAT IS DELETED, MAY NEVER BE DELETED
				
			else
				form(action="/excluir", method="post")
					div
						label(for="CPF") CPF DO CADASTRO A SER DELETADO: 
						input(type="text", name="CPF")
					input(class="submitBtn_CLASS" ,type="submit", value="DELETAR")
		footer
